body {
  margin: 5px 10px 10px 10px;
}


.mackson-navbar-icon {
	max-width:35px !important; 
	margin: 13px 5px 0px 0px !important;	
}	


.jumbo-centered {
	width:425px; 
	margin:0 auto;
}

.search-panel {  
  min-height: 302px;
}

.results-panel {	
  min-height: 302px;
}

.table-responsive {
  	overflow-y: auto;
  	max-height: 90%;
}

.row-notpadded {
  margin-left: -30px;
  margin-right: -30px;
}
